/* COMMON */
body {
  /* 기본적인 구조적인 것들을 상속되는 것을 이용해서 여기에 선언해주는 것이 좋다. */
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  /* 폰트에 따라 최적의 높이가 다를 수 있다. */
  font-family: 'Nanum Gothic', sans-serif;
  /* 폰트를 적용하는 코드이다. */
  /* height: 6000px; */
  /* 이거 있고 없고의 차이가 스크롤의 범위가 달라지더라.. */
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  /* 자식요소에도 이어간다고 함. ??? */
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  /* border를 기준으로 뭐 한다는 데 뭔소리여 ??? */
  display: block;
  /* 혹시 모르는 크기를 부여하지 않으면 나오지 않는 애들을 생각하고, block하면 된다. */
  transition: .4s;
  /* 얘는 여기에 왜 넣었을까??? */
}

.btn:hover{
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse{
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover{
  background-color: transparent;
  color: #333;
}
/* 선택자 우선순위가 있다고 한다.*/
.btn.btn--brown{
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover{
  color: #FFF;
  background-color: #592B18;
}
.btn.btn--gold{
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover{
  color: #FFF;
  background-color: #FFF;
}
.btn.btn--white{
  color: #FFF;
  border-color: #FFF;
}
.btn.btn--white:hover{
  color: #333;
  background-color: #FFF;
}

.back-to-position{
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right{
  transform: translateX(-150px);
}
.back-to-position.to-left{
  transform: translateX(150px);
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0{
  transition-delay: 0s;
  /* 명시적으로 0s이지만 클래스명만 보고도 효과 넣을 때 딜레이를 얼만큼 넣었는지 알기 위함 */
}
.show .back-to-position.delay-1{
  transition-delay: .3s;
}
.show .back-to-position.delay-2{
  transition-delay: .6s;
}
.show .back-to-position.delay-3{
  transition-delay: .9s;
}
/* HEADER */
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  /* 다른 요소들의 배치와 관계 없이 뷰포트를 기준으로 배치하겠다. */
  top: 0;
  z-index: 9;
}

header>.inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  /* absolute를 사용할 때는 구조적인 부모 요소에 position이 있는지 확인해야한다. */
  /* 수직 가운데 정렬? */
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0px;
  display: flex;
}

header .sub-menu ul.menu {
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child:before {
  display: none;
}

header .sub-menu ul.menu li a {
  /* background-color: white; */
  /* 디자인 뼈대 만들때는 이렇게 해줌 */
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  /* 브라우저마다 색이 다를 수 있어서 이렇게 지정해준 것이다. */
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  height: 24px;
  /* 자동으로 높이를 맞추려면 로고 크기만큼의 높이를 적어주면 된다. */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* 일치선택자  */

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

header .main-menu .item {}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0px 0px;
}

/* .item에 적용해서 전체에 적용될 수 있도록 한다네.. */
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px p;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul {
  /* 구조적으로 넣을 때 참고용으로 사용. 필요 없을 시 삭제하면 돼 */
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  /* 이 120px의 수치는 header > .inner에서 가져온 것이다. */
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
  /* 요소 부분은 HTML로 추가하고, 배경 이미지 및 설정은 CSS로 하는 듯 */
  /* 이 상태로는 visual의 컨텐츠 보이는 것이 없기 때문에 배경 이미지가 보이지 않는다. */
}

.visual .inner {
  height: 646px;
  /* 높이값을 주면 배경 이미지가 높이 크기만큼 보이게 된다. */
}

.visual .title {
  /* inner는 구조적으로는 title과 상관이 없기 때문에 이렇게 생략해주는 것이 가독성에 도움이 됨 */
  position: absolute;
  /* 부모요소를 기준으로 위치하도록 한다. 부모요소에 relative있음 */
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  /* 클래스 선택자 두개가 붙어 있으니까 동시에 조건이 만족하는 것을 가리키는 일치 선택자 */
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
/* 여기까지 할 때 작업한 것이 이전에 작업한 것을 덮는 것을 확인할 수 있음.*/
/* 이제 쌓인 순서로 인한 문제가 발생함을 인지 */
/* 이제 z-index를 추가함 */
.visual .fade-in{
  opacity: 0;
}

/* NOTICE */
.notice{

}
.notice .notice-line{
  position: relative;
}
.notice .notice-line .bg-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  /* 왜 배경은 50: 50으로 하고, 다시 이너를 비율 맞춰서 하는 걸까? 한번에 하면 안되나? */
}
.notice .notice-line .inner{
  height: 62px;
  display: flex;
  /* 자식요소들이 좌우로 정렬되도록 바꿈. */
}
.notice .notice-line .inner__left{
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  /* 자식요소들이 수평을 이루도록 하고 싶을 때 작성하면된다. 자식요소 작성 후 작성하라! */
  align-items: center;
}
.notice .notice-line .inner__left h2{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container{
  height: 62px;
  flex-grow: 1;
  /* 부모요소에 flex를 하면 자식요소들은 최대한 너비를 없애서 수평을 이룬다. */
  /* flex-grow를 하면 최대한 너비를 넓히도록 한다. */
}
.notice .notice-line .inner__left .swiper-slide{
  height: 62px;
  display: flex;
  align-items: center;

}
.notice .notice-line .inner__left .swiper-slide a{
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more{
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 수직 정렬을 의미한다. > 어디에 영향? */
}
.notice .notice-line .inner__left .notice-line__more .material-icons{
  color: #fff;
  font-size: 30px;
  /* 아이콘의 기본 크기는 24px라고 한다. */
}
.notice .notice-line .inner__right{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* 수평 정렬의 끝부분부터 정렬하겠다.*/
  align-items: center;
  /* 수직으로 센터에 아이템을 넣겠다. */
}
.notice .notice-line .inner__right h2{
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons{
  font-size: 30px;
}

.notice .promotion{
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
  /* 부모요소보다 넘치게 자리를 차지하는 자식요소 부분은 숨긴다는 것 */
}
.notice .promotion.hide{
  height: 0;
}
.notice .promotion .swiper-container{
  width: calc(819px * 3 +  20px);
  /* 너비값을 우리가 수동으로 계산하고 넣을 수도 있지만 CSS에서는 이렇게 계산해주는 함수를 제공한다.*/
  /* 아래 방식처럼 사용해도 유용하게 사용할 수 있다. */
  /* width: calc(100%-50px); */
  height: 553px;
  position: absolute;
  top: 40px;

  /* 50%를 왼쪽으로 땡기고, 요소 크기의 절반만큼 왼쪽으로 땡기는 이유 */
  left: 50%;
  /* 왼쪽으로 50%가는 것은 뷰포트의 크기에 따라 가운데 기준이 되기 위함이고, */
  margin-left: calc((819px * 3 +  20px) / -2);
  /* 요소의 크기 만큼 왼쪽으로 다시 땡겨서 요소가 가운데에 있도록 하기 위함이다. */
}

.notice .promotion .swiper-slide{
  opacity: .5;
  transition:  opacity 1s;
  /* opacity가 바뀌는데 1초가 걸리도록 해줘라. */
  position: relative;
}
.notice .promotion .swiper-slide-active{
  opacity: 1;
}
.notice .promotion .swiper-slide .btn{
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  margin: auto;
  /* 요소를 가운데에 배치하는 방식 위의 4줄 */
  /* 너비가 있어야 margin을 계산해주는데, 공통부분에 btn의 너비를 설정해주었기 때문에 따로 작성하지 않아도 돼 */
}
.notice .promotion .swiper-pagination{
  bottom: 40px;
  left: 0;
  right: 0;
  /* 미리 지정된 스타일 시트를 웹브라우저를 통해서 확인할 수 있다. */
  /* 공식문서에 나오지 않는 내용들도 있기 때문에 사용할 라이브러리를 설치해서 어떻게 동작되는지 보는 것이 중요하다. */
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet{
  /* 개발자 도구로 확인한 라이브러리에 의해서 생성된 요소 */
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child{
  /* 마지막 요소만을 다루기 위한 작업 */
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active{
  background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next{
  /* 이런 식으로 다중 선택이 가능하다 */
  /* 이렇게 다중선택자를 사용한다면 하나당 한줄로 작성하라. 가독성을 위해서 */
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content랑 align-items의 정렬 축 기준 파악하기 */
  transition: .4s;
  /* 전화효관에 대한 시간은 기본 상태를 설정해주는 곳에 하고, 전화하고자 하는 것은 상태를 설정하는 곳에 */
}
.notice .promotion .swiper-prev{
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next{
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover{
  background-color: #333;
  color: #fff;
}

/* REWARDS */
.rewards{
  position: relative;
}
/* 배경이미지를 넘어서 배경색을 양쪽으로 만드는 디자인 패턴 */
.rewards .bg-left{
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right{
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner{
  background-image: url("../images/rewards.jpg");
  height: 241px;
}
.rewards .btn-group{
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  /* 수평으로 만드는데 가로너비보다 내용이 더 많을 것 같으면 줄바꿈을 허용한다는 뜻*/
}
.rewards .btn-group .btn.sign-up{
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in{
  width: 110px;
}
.rewards .btn-group .btn.gift{
  margin-top: 10px;
  flex-grow: 1;
  /* flex 컨테이너의 너비를 100%로 활용하라. */
}

/* YOUTUBE VIDEO */
.youtube{
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
  /* 넘치는 부분은 숨김처리하겠다는 것. */
  /* 이제까지 작업한 것이 정리하자면 유튜브의 가운데 부분만 페이지에서 재생시킬 때 보여주겠다는 것이다. */
}
.youtube .youtube__area{
  width: 1920px;
  /* 일반적인 FullHD화면에서 보는 것을 가정하여 너비를 이렇게 설정 */
  position: absolute;
  left: 50%;
  /* 왼쪽에서부터 50%지점에 위치하도록 한다. */
  margin-left: calc(1920px/ -2);
  top: 50%;
  /* 위에서부터 50%의 지점에 위치하도록 한다. */
  margin-top: calc(1920px * 9 / 16 / -2);
  /* 1920은 너비부분 인데.. 16:9 비율에서 또 절반만큼.. 왜냐하면 높이는 따로 지정해준 것이 아니기 때문 */
}
.youtube .youtube__area::before{
  /* 디자인을 위해 div와 같은 영역이 필요할 때는 HTML에 만들지 않고, CSS에서 처리한다고 한다. ::before */
  /* 이렇게 하면 이 부분이 itme 역할을 한다. */
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover{
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 이런 식으로 유튜브 위에 덮개를 만들어 주는 것이다.  */
}
#player{
  width: 100%;
  height: 100%;
  position: absolute;
  /* 부모요소가 absolute여도 괜찮다고 한다. */
  top: 0;
  left: 0;
}
.youtube .inner{
  height: 700px;
}
.youtube .floating1{
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2{
  position: absolute;
  top: 350px;
  left: 150;
}

/* SEASON PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");

}
.season-product .inner{
  height: 400px;
  /* 높이를 설정해주니까 product이미지 기준이 아니라 inner 기준으로 배경 이미지 크기가 바뀌더라..?? */
}
.season-product .floating3{
  position: absolute;
  top: -200px;
  right: 0;
}
/* overflow hidden을 설정했기 때문에 잘려서 표시된 부분을 아래로 가져와서 배치해준다. */
.season-product .text-group{
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title{
  margin-bottom: 10px;
}
.season-product .text-group .description{
  margin-bottom: 15px;
}
.season-product .text-group .more {
}

/* RESERVE COFFEE */
.reserve-coffee{
  background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner{
  height: 400px;
}
.reserve-coffee .reserve-logo{
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group{
  position: absolute;
  top: 124px;
  left: 208px
}
.reserve-coffee .product{
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite{
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  /* 배경이미지를 반복하여 넣지 않는다. */
  background-position: center;
  /* 배경이미지의 위치를 가운데에 둔다. */
  background-attachment: fixed;
  /* 뷰포트를 기준으로 고정시켜놔서 화면을 스크롤해도 움직이지 않도록 고정시킨 것. */
  /* 스크롤하면 고정된 상태에서 해당 이미지의 위치의 장면만 보이게 된다. */
  background-size: cover;
  /* 이거는 한번 찾아봐야될 듯 */
  /* 이렇게 활용되는 것이 패럴랙스 효과?? */
}
.pick-your-favorite .inner{
  padding: 110px 0;
  /* margin과 padding의 차이 */
}
.pick-your-favorite .text-group{
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  /* 줄바꿈 허용 */
  justify-content: flex-end;
  /* justify는 수평으로 기준으로 어디에 위치할지 정하는 것. 오른쪽에 몰아넣기 */
}
.pick-your-favorite .text-group .title{
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description{
  margin-bottom: 40px;
}

/* RESERVE STORE */
.reserve-store{
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;


}
.reserve-store .inner{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal{
  width: 334px;
  height: 334px;
  /* 컨테이너 역할을 하는 요소에는 아이템 크기와 동일하게 해야 한다. 그래서 hover 영역이 item 크기와 동일해진다. */
  perspective: 600px;
  /* 정확히 이게 어떤 역할을 하는거냐..? */
}
.reserve-store .medal .front,
.reserve-store .medal .back{
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
}
.reserve-store .medal .front{
 
  transform: rotateY(0deg);
/* 명시적으로 작성하는 것임. 하위 버전의 브라우저에서도 잘 작동하기 위함. */
}
.reserve-store .medal:hover .front{
  /* medal부분에 hover하면 그 안에 있는 item요소들을 어떻게 할 것인지 하는 것이다. */
  transform: rotateY(180deg);
}
.reserve-store .medal .back{
  transform: rotateY(-180deg);
  /* Y축을 기준으로 -180도 돌리는 것임 */
}
.reserve-store .medal:hover .back{
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn{
  position: absolute;
  top:240px;
  left: 0;
  right: 0;
  margin: auto;
  /* 얘는 왜 가운데 정렬이 자동으로 되고, 다른 애들은 50% 뭐 이런거 해야되냐..? */
  /* 너비가 미리 지정되어 있다는 것 같은데.. 무슨 소리일까? */
}
/* FIND STORE */
.find-store{
  background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner{
  height: 400px;
}
.find-store .texture1{
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2{
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture{
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  /* 그림자 만드는 코드인데, 어떤 것들인지 알아볼 필요가 있다. */
  position: absolute;
}
.find-store .picture1{
  top: -60px;
  left: 0;
}
.find-store .picture2{
  top: 150px;
  left: 250px;
}
.find-store .text-group{
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title{
  margin-bottom: 20px;
}
.find-store .text-group .description{
  margin-bottom: 20px;
}

/* AWARDS */
.awards{
  background-color: #272727;
}
.awards .inner{
  padding: 40px 0;
}
.awards .swiper-contatiner{
 width: 100%;
 height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next{
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  /* 이 속성은 상속되는 것을 이용 */
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* 가운데 배치하려고 할 때 우리가 배치하고자 하는 기준선의 길이가 작성되어있는지 확인해야함 */
  /* 여기서는 수직으로 가운데 배치하려고 하는데, height가 작성되어 있으므로 OK */
}
.awards .swiper-prev{
  left: -100px;
}
.awards .swiper-next{
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover{
  background-color: #fff;
  color: #333 ;
}

/* FOOTER */
footer{
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner{
  padding: 40px 0 60px 0;
}
footer .menu{
  display: flex;
  justify-content: center;
}
footer .menu li{
  position: relative;
  /* 그래서 여기에 추가해줌 */
}
footer .menu li::before{
  /* before로 만들어진 요소는 기본적으로 display: inline요소이다. */
  /* 그러나 position: absolute나 fixed를 사용하면 display가 자동으로 block으로 바뀐다. */
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  /* ::before의 부모요소는 ::before가 없는 요소이다. */
  top: 0;
  bottom: 0;
  right: -1px;
  /* 이렇게 하면 각 요소의 오른쪽에 점이 생긴다. */
  margin: auto;
}
footer .menu li:last-child::before{
  display: none;
}
footer .menu li a{
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  /* display: inline요소들은 마진과 패딩의 위아래  여백을 정상적으로 사용할 수 없다.*/
  display: block;
  /* 이렇게 display와 padding을 설정해주는 이유는 사용자가 클릭할 수 있는 넓이를 넓혀주기 위함 */
}
footer .menu li a.green{
  color: #669900;
}
footer .btn-group{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn{
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child{
  margin-right: 0;
}
footer .info{
  margin-top: 30px;
  text-align: center;
}
footer .info span{
  /* span은 inline요소여서 수직으로 쌓이는 것이 아니라 수평으로 쌓인다고 한다. */
  /* span은 text로 해석된다고 한다. */
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child{
  margin-right: 0;
}
footer .copyright{
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo{
  /* img요소는 가로 너비를 웹페이지에서 알고 있다고 한다.*/
  margin: 30px auto 0;
}

#to-top{
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}